.projectContent{
    position: relative;
    top: 3%;
    padding: 10px;
    word-break: break-word;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

.panel-heading:not(:last-child) > .panel-title {
    padding-top: 15px;
    padding-bottom: 15px;   
/*    display: inline;*/
    font-size: 2.5em;
    background: -webkit-linear-gradient(green, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.panel-heading:hover:not(:last-child) > .panel-title {
/*    text-decoration: underline;*/
    background: -webkit-linear-gradient(green, #ff9f35);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* The open panel title */
.panel-heading:not(.collapsed) > .panel-title {
    background: -webkit-linear-gradient(green, #ff9f35);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.panel, .panel-heading.collapsed {
    border: none;
}

.panel-heading > hr {
/*    margin-left: 50%;*/
}

.panel-heading:not(.collapsed) > hr{
    animation: growHR 1s forwards;
}

.panel-heading.collapsed > hr{
    animation: shrinkHR .7s forwards;
}

@keyframes growHR {
    from {width: 0%; margin-top: 0px; margin-bottom: 0px; }
    to {width: 50%; margin-top: 10px; margin-bottom: 10px;}
}

@keyframes shrinkHR {
    from {width: 50%; margin-top: 10px; margin-bottom: 10px;}
    to {width: 0%; margin-top: 0px; margin-bottom: 0px;}
}

.panel, .panel > .panel-heading {
    background: transparent;
}

.panel-body {
    color: white;
    border-top: none !important;
}

.panel-heading:last-child > .panel-title {
    font-size: 1.5em;
    background: -webkit-linear-gradient(green, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

