.abilityContent{
    position: absolute;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.abilityItemMoveRight{
    position: relative;
    left: -350px;
    animation: moveRight .7s ease-out 1s;
    animation-fill-mode: forwards;
}

@keyframes moveRight{
    from{left: -350px;}
    to{left: 0px;}
}

.ability-1-show{
     opacity: 0;
    background: linear-gradient(transparent 100%, rgba(248, 161, 0, .3));
    animation: displayYourSelf 1s linear;
    animation-fill-mode: forwards;
}

.ability-2-show{
      opacity: 0;
    background: linear-gradient(transparent 100%, rgba(255, 255, 255, .3));
    animation: displayYourSelf 1s linear 1s;
    animation-fill-mode: forwards;
} 

.ability-3-show{
    opacity: 0;
    background: linear-gradient(transparent 100%, rgba(255, 255, 255, .3));
    animation: displayYourSelf 1s linear 2s;
     
    animation-fill-mode: forwards;
}

@keyframes displayYourSelf{
    0%{
        opacity: 0;
        background: linear-gradient(transparent 100%, rgba(255, 255, 255, 0));
    }
    10%{
        background: linear-gradient(transparent 90%, rgba(255, 255, 255, .1));
    }
    20%{
        background: linear-gradient(transparent 80%, rgba(255, 255, 255, .1));
    }
    30%{
        background: linear-gradient(transparent 70%, rgba(255, 255, 255, .1));
    }
    40%{
        background: linear-gradient(transparent 60%, rgba(255, 255, 255, .15));
    }
    50%{
        background: linear-gradient(transparent 50%, rgba(255, 255, 255, .15));
    }
    60%{
        background: linear-gradient(transparent 40%, rgba(255, 255, 255, .15));
    }
    70%{
        background: linear-gradient(transparent 30%, rgba(255, 255, 255, .2));
    }
    80%{
        background: linear-gradient(transparent 20%, rgba(255, 255, 255, .2));
    }
    90%{
        background: linear-gradient(transparent 10%, rgba(255, 255, 255, .2));
    }
    100%{
        opacity: 1;
        background: linear-gradient(transparent 0%, rgba(255, 255, 255, .2));
    }
}

.abilityContent ul{
    display: inline-block;
    vertical-align: top;
    list-style: none;
    text-align: left;
    padding: 40px;
    padding-top: 0;
    height: 400px;
    border-bottom: 1px green solid;
    border-top: 1px green solid;
    border-radius: 30px;
    margin-right: 10px;
    overflow: hidden;
/*    background: linear-gradient(transparent 35%, rgba(248, 161, 0, .3));*/
/*    animation: slideInBackground 1s linear 10s;*/
/*    animation-fill-mode: forwards;*/
}

@keyframes slideInBackground{
    from{background: linear-gradient(transparent 100%, rgba(248, 161, 0, .3));}
    to{background: linear-gradient(transparent 35%, rgba(248, 161, 0, .3));}
}

@media (max-width: 1200px){
    .abilityContent ul{
        padding: 10px;
    }
}

@media (max-width: 1000px){
    .abilityContent ul li {
        font-size: .8em;
    }
    
    .abilityContent ul{
         height: 150px;
        width: 100%;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
        column-count: 2;
        column-gap: normal;
    }
    
    .abilityContent h2{
        width: 100%;
        font-size: 1.4em;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    
    .abilityContent hr{
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

.abilityContent hr{
    border-color: #ff9f35;
}

.growHr-1{
    width: 0;
    animation: grow 1s ease-out 1.5s;
    animation-fill-mode: forwards;
}

.growHr-2{
    width: 0;
    animation: grow 1s ease-out 2s;
    animation-fill-mode: forwards;
}

.growHr-3{
    width: 0;
    animation: grow 1s ease-out 2.5s;
    animation-fill-mode: forwards;
}

@keyframes grow{
    from{width: 0;}
    to{width: 100%;}
}

.abilityContent ul h2{
    text-align: center;
     background: -webkit-linear-gradient(green, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.abilityContent li{
    width: 300px;
    padding-top: 4px;
    color: white;
}

.abilityContent li:hover{
    font-size: 1.3em;
    background: rgba(255,255,255,.3);
    border-radius: 5px;
    padding: 3px;
}

.abilityStat{
    float: right;
    
}

.glyphicon-star{
   color: green;
}