form textarea{
    resize: none;
}

form .inputLabel{
    padding-bottom: 9px;
    color: #ff9f35;
    font-size: 1.3em;
}

.contactRow{
    margin-top:8%; 
    position:relative; 
    display:inline-block; 
    margin-right: 5px;
}

@media only screen and (max-width: 768px) {
    .contactRow{
        margin-top:4%; 
    }
}

form .inputByUser {
    padding: 10px;
    outline: none;
    background: grey;
    border: none;
    opacity: .9;
    margin-bottom: 20px;
    color: white;
    width: 100%;
    border-radius: 15px;
    border: black 1px solid;
    font-size: 1.1em;
}

form #formMessage{
    border-radius: 0px;
}

form .sendButton{
    float: right;   
    border-radius: 15px;
    font-size: 1.1em;
    background-color: transparent;
    border: 1px #337ab7 solid;
    color: #337ab7;
}

form .sendButton:hover {
    background-color: #ff9f35;
    color: white;
    border: 1px solid #337ab7;
}

form #formMessage{
    height: 80px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.applyBoxShadow{
     box-shadow: .1px 10px 100px white; 
}

#sendMessageForm{
    color: white;
/*    transform: translateX(200%);*/
}

#thankyou{
    color: white;
/*    transform: translateX(-200%);*/
}

#thankyouMessage{
    font-size: 1.2em;
    text-align: center;
}

#thankyouMessage ul li span{
    font-size: .9em;
    color: white;
}

#thankyouMessage ul {
    list-style-type: none;
}

.invalidAnswer{
    border: 1px solid red!important;
    box-shadow: 0 0px 10px red; 
}

@media only screen and (min-width: 768px) {
  #thankDiv {
    margin-right: 10%;
  }
}
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}