#jobs{
    position: absolute;
    margin-top: 100px;
    left: 80px;
    text-align: left;
}

#menardsExperience{
    margin-bottom: 20px;
}

#michaelExperience{
    
}

.jobTitle{
    float: left;
    display: inline;
    height: 100px;
    width: 190px;
    color: #ff9f35;
    text-shadow: .1px .5px 130px white; 
}

.jobTitle strong{
    background: -webkit-linear-gradient(#ff9f35 30%, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.4em;
}

.jobTitle p{
    padding-top: 10px;
}

.jobDesc{
    text-align: left;
    margin-left: 200px;
    height: 100px;
    display: inline;
}

.jobDesc ul{
    margin-left: 200px;
    width: 100%;
}

.jobDesc li{
    padding-top: 6px;
    list-style: none;
    color: white;
    letter-spacing: 1px;
    font-size: 1em;
}

.jobDesc li::before{
    font-family: 'Glyphicons Halflings';
    content: "\e250";
    padding-right: 9px;
    color: green;
}

.jobDesc strong{
    float: left;
    padding-left: 10px;
    color: green;
    
    letter-spacing: 1.5px;
}

.location{
    font-family: 'Glyphicons Halflings';
    padding-top: 4px;
    color: darkseagreen;
}

.location::before{
     content: "\e062";
    color: darkseagreen;
}
