.jobs{
    position: relative;
    margin-top: 2%;
}

.jobs hr{
    border-top: 1px solid #ff9f35;
}

#menardsExperience{
    margin-bottom: 20px;
}

#michaelExperience{
    
}

.XPHighlight{
    color: #ff9f35;
}

@media (max-width: 1300px){    
    .jobDesc ul li{
        
    }
}

@media (max-width: 1200px){    
    .jobDesc ul li{
        width: 70%;
    }
}

@media (max-width: 1000px){    
    .jobDesc ul li{
        width: 50%;
    }
}

.jobTitle{
    font-size: 1.4em;
    text-align: center;
    width: 100%;
    color: #ff9f35;
    background-color: rgba(255,255,255,.1);
    padding: .1%;
    text-shadow: .1px .5px 80px white; 
}

.jobTitle strong{
    background: -webkit-linear-gradient(#ff9f35 30%, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.4em;
}

.jobTitle p{
    padding-top: 10px;
}

.jobDesc{
    margin-left: 7%;
    margin-right: 7%;
}

.jobDesc ul{
    margin-left: 7%;
}

.jobDesc ul li{
    padding: 1.5%;
    text-indent: -4em;
}


.jobDesc li{
    padding-top: 6px;
    list-style: none;
    color: white;
    letter-spacing: 1px;
    font-size: 1em;
}

.jobDesc li::before{
    font-family: 'Glyphicons Halflings';
    content: "\e250";
    padding-right: 9px;
    color: green;
}

.jobDesc strong{
    color: green;
    letter-spacing: 1.5px;
}

.location{
    font-family: 'Glyphicons Halflings';
    padding-top: 4px;
    padding-left: 20px;
    color: darkseagreen;
}

.location::before{
     content: "\e062";
    color: darkseagreen;
}

/* The ribbons */

.corner-ribbon{
  width: 330px;
  background: #ff9f35;
  position: absolute;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: black;
}

/* Custom styles */

.corner-ribbon.sticky{
  position: absolute;
}

.corner-ribbon.top-right{
  top: 70px;
  right: -70px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.addBanner{
    animation: addBanner 3s;
    animation-fill-mode: forwards;
}

@keyframes addBanner{
    from {opacity: 0;}
    to {opacity: 1;}
}

.closeBanner{
    animation: removeBanner .5s;
    animation-fill-mode: forwards;
}

@keyframes removeBanner{
    from {opacity: 1;}
    to {opacity: 0;}
}


