#profileContent{
    position: relative;
    top: 20%;
    padding: 20px;
    word-break: break-word;
    text-align: center;
}

@media (max-width: 1050px){
    #leftContent{
        width: 30px;
    }
}

#leftContent{
    text-align: center;
    padding-right: 60px;
    width: 450px;

}

#rightContent{
    text-align: left;
    padding-left: 60px;
    width: 450px;
}

#leftContent, #rightContent{
    position: relative;
    display: inline-block;
    vertical-align: top;
}

#leftContent h2, #rightContent h2{
    display: inline;
    text-align: center;
    background: -webkit-linear-gradient(green, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#leftContent p, #rightContent p span{
    background: -webkit-linear-gradient(white 30%, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

#leftContent p{
    font-size: 18px;
    text-align: left;
}

#rightContent p strong{
    color: white;
    font-size: 20px;
}

#profilePicture{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 6px solid green;
}

#map:hover{
    position: absolute;
    width: 400px;
    height: 400px;
}

.underscore{
    display: inline;
    color:#ff9f35;
    font-size: 3em;
}


/*
Interests
*/


#images{
    margin-top: 30px;
    text-align: center;
}


#images img{
    width: 210px;
    height: 340px;
    margin-right: 40px;
}

#images p:hover ~ img{
    opacity: .2;
}

#images p:hover{
    opacity: 1;
}

#images p{
    transition: all 1s;
}

#footballImage{
    position: relative;
    text-align: center;
    vertical-align: top;
}

#cabinImage{
    position: relative;
    text-align: center;
    vertical-align: top;
}

#moonImage{
     position: relative;
    text-align: center;
    vertical-align: top;
}

.top-left {
     width: 210px;
    height: 340px;
    position: absolute;
    z-index: 10;
    padding: 2px;
    top: 0px;
    left: 0px;
    font-size: 10pt;
    opacity: 0;
    box-shadow: .1px .5px 130px white; 

}

.mainInterest{
    margin: auto;
    margin-top: 60px;
    width: 60%;
    color: white;
    text-align: center;
}

.interestTitle{
    color: #ff9f35;
    letter-spacing: 5px;
    font-size: 1.3em;
}

.interestDetail{
    font-size: 1.04em;
    color: white;
}

.removeRealQuick{
    opacity: .2;
}

.showRealQuick{
    opacity: 1;
}







